<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="login-box" style="justify-content: center; align-items: center; padding: 20px;">
        <h2 style="color: #6366f1;">SNOOP CHAT</h2>
        <form method="POST" style="width: 100%; display: flex; flex-direction: column; gap: 15px;">
            <input type="text" name="nome" placeholder="Seu apelido" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">ENTRAR</button>
        </form>
    </div>
</body>
</html>
